<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deleniti vitae sit accusantium adipisci odio sapiente magni, cupiditate eligendi maiores veniam cum rem minus vero aliquid animi! Amet, aspernatur sapiente?</p>
    <button>Click me!</button>
</body>
</html>